<tr>
	<td>
		<a class="anchor" id="anchor_${url_id}"></a>
		<a href="/${url_full}">${url_short}</a>
	</td>
	<td style="text-align: center;">${url_blockSize}</td>
	<td style="text-align: center;">${url_success}</td>
	<td style="text-align: center;">${url_failure}</td>
	<td style="text-align: center;">${url_persistence} %</td>
	<td style="text-align: center;">${url_segmentsAvailability} %</td>
	<td><a href="?remove=${url_id}&formPassword=${formPassword}">remove</a></td>
	<td><a href="?log=${url_id}&formPassword=${formPassword}#log_anchor">log</a></td>
	<td><a href="?${url_modus}=${url_id}&formPassword=${formPassword}#anchor_${url_id}">${url_modus}</a></td>
	<td><b>${url_active}</b></td>
</tr>
